* {
  position:relative;
}

.MuiPaper-root.question {
  padding:20px;
  margin:20px 0;
  width:80%;
  left:10%;
}

.qAnswers {
  text-align:center;
}
.answerWrapper {
  display:inline-block;
  margin:10px;
}