* {
  position:relative;
}

.MuiPaper-root.question {
  padding:20px;
  margin:20px 0;
  width:60%;
  left:20%;
}

.qAnswers {
  text-align:center;
}
.answerWrapper {
  display:inline-block;
  margin:10px;
}

.MuiButtonBase-root.correctAnswer {
  background-color:lightgreen;
}
.MuiButtonBase-root.incorrectAnswer {
  background-color:rgb(255, 98, 98);
}

#searchContainer {
  text-align:center;
  padding:20px;
}
#searchBtn {
  margin-top:10px;
  margin-left:20px;
}
.MuiTextField-root.specific {
  margin-left:20px;
}
#noQuestions {
  font-size:25px;
  text-align:center;
  margin:150px 0;
}